<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<form action="/register/confirm" method="post">
    <dl>
        <dt>ニックネーム</dt>
        <dd>
            <input type="text" name="name" value="" placeholder="ニックネーム" class="input full"/>
            <% if (errors.name){ %>
            <div class="error-msg"><%= errors.name.message %></div>
            <% } %>
        </dd>
    </dl>
    <input type="submit" value="登録">
</form>
</body>
</html>
