<!DOCTYPE html>
<html>
<head>
    <title><%= userId %></title>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />


</head>
<body>
<div id="desktop">
<!--<p class="abs icon">-->
    <!--<img src="/images/html.png">-->
    <!--longname_longname_aaaaaaaaaaa.html-->
<!--</p>-->
</div>
</body>
</html>
