body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.abs {
  position: absolute !important;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}




.icon {
  color: #fff;
  font-family: "Helvetica";
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
  padding: 6px 1px 6px;
  text-align: center;
  text-shadow: #000 0 1px 2px;
  width: 111px;
}

.icon img {
  display: block;
  margin: 0 auto 5px;
  width: 64px;
  height: 64px;
}