.abs {
    position: absolute !important;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}




.icon {
    color: #fff;
    font-family: "Helvetica";
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3;
    padding: 6px 1px 6px;
    text-align: center;
    text-shadow: #000 0 1px 2px;
    width: 80px;
    left:981px;
    top:804px;
}

.icon img {
    display: block;
    margin: 0 auto 5px;
    width: 64px;
    height: 64px;
}